@model List<EventUpWebApp.Models.ServiceViewModel>

@{
    ViewBag.Title = "ListServices";
}

<br />

<h2>Find the services you need for your event...</h2>
<!--Esta vista es donde se ven los servicios disponibles y donde el role_planner puede escoger-->
<br />

@using (Html.BeginForm("ListServicesPost", "EventServices", FormMethod.Post))
{
    <div class="row">
        <div class="col-md-4">
            <label class="mr-2" for="cityFilter">City:</label>
            @Html.DropDownList("cityFilter", ViewBag.CityList as SelectList, "All Cities", new { @class = "form-control mr-2" })
        </div>

        <div class="col-md-4">
            <label class="mr-2" for="typServiceFilter">Service:</label>
            @Html.DropDownList("typServiceFilter", ViewBag.TypServiceOptions as SelectList, "All Services", new { @class = "form-control mr-2" })
        </div>

        <div class="col-md-4">
            <label class="mr-2" for="typEventFilter">Event:</label>
            @Html.DropDownList("typEventFilter", ViewBag.TypEventOptions as SelectList, "All Events", new { @class = "form-control mr-2" })
        </div>
    </div>
    <br />
    <div class="row mt-2">
        <div class="col-md-12 text-center">
            <button type="submit" class="btn btn-primary">Filter</button>
        </div>
    </div>

    <br />
    <br />
    <input type="hidden" name="selectedEventId" value="@((int?)ViewBag.SelectedEventId ?? 0)" />
    <!-- Esto es necesario para que el valor de selectedEventId se incluya en la solicitud POST cuando se envía el formulario. Dado que estás utilizando esta variable en tu acción [HttpPost], es apropiado mantener este campo oculto. -->

    <h5>Select the events by clicking on the checkbox at the end of each row. To see other details associated with the service, click on "details".</h5>
    <br />
    <table class="table">
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.First().Name)
            </th>

            <th>
                @Html.DisplayNameFor(model => model.First().Typ_Service)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.First().Typ_Event)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.First().Capacity)
            </th>

            <th>
                @Html.DisplayNameFor(model => model.First().City)
            </th>

            <th></th>
        </tr>

        @for (int i = 0; i < Model.Count; i++)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => Model[i].Name)
                </td>

                <td>
                    @Html.DisplayFor(modelItem => Model[i].Typ_Service)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => Model[i].Typ_Event)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => Model[i].Capacity)
                </td>

                <td>
                    @Html.DisplayFor(modelItem => Model[i].City)
                </td>

                <td>
                    @Html.CheckBoxFor(modelItem => Model[i].IsSelected, new { @class = "service-checkbox", data_id = Model[i].Id })
                    @Html.HiddenFor(modelItem => Model[i].Id)
                </td>
            </tr>
            <tr>
                <td>
                    <button class="btn btn-link" type="button" data-bs-toggle="collapse" data-bs-target="#details_@Model[i].Id">Details</button>
                    <div class="collapse details-container" id="details_@Model[i].Id">
                        <ul class="list-group">
                            <!-- Agrega más detalles según sea necesario -->
                            <li class="list-group-item">
                                <pre style="white-space: pre-wrap; max-width: 100%;">@Html.Raw(Model[i].Description)</pre>
                            </li>
                        </ul>
                    </div>
                </td>
            </tr>
            <tr>
                <td colspan="6" style="border-bottom: 1px solid #000;"></td>
            </tr>
        }
    </table>
    <div class="row mt-2">
        <div class="col-md-12 text-center">
            <button type="submit" formaction="@Url.Action("SaveServicesForEvent", "EventServices")" class="btn btn-primary">Save services for my Event</button>
        </div>
    </div>
    <div>
        @Html.ActionLink("Back to Reserved services", "ReservedServices", "EventServices")
    </div>
}

<!-- JavaScript para manejar el despliegue de detalles -->
<script>
    function toggleDetails(serviceId) {
        var detailsContainer = document.getElementById('details_' + serviceId);
        if (detailsContainer.style.display === 'none') {
            detailsContainer.style.display = 'block';
        } else {
            detailsContainer.style.display = 'none';
        }
    }
</script>


<!-- Estilo adicional con Bootstrap para que el contenedor tenga el mismo ancho que la fila -->
<style>
    .details-container {
        border: 1px;
        margin: 5px 0; /* Ajusta el margen según sea necesario */
    }

        .details-container .list-group-item {
            background-color: #ffcc80; /* Fondo color #CD5C5C para los elementos de la lista */
            color: black; /* Texto blanco para los elementos de la lista */
            border: none; /* Sin bordes para los elementos de la lista */
            font-size: 20px;
            font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif
        }
</style>

