@model IEnumerable<EventUpWebApp.Models.ServiceViewModel>

@{
    ViewBag.Title = "Reserved Services";
}

<h2>Reserved Services for Event</h2>
<br />
<h2>@ViewBag.SelectedEventName</h2>
<br />
<!-- Muestra todos los servicios que se han reservado para un evento -->

@if (Model != null && Model.Any())
{

    <p>Here the services you have already saved </p>

}
else
{
    <p>No reserved services for this event.</p>
}

<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Name)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Address)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Typ_Service)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Typ_Event)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Capacity)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.FixCost)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.HourCost)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.PersonCost)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.City)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.More)
        </th>

        <th></th>
    </tr>

    @foreach (var service in Model)
    {

        <tr>
            <td>
                @Html.DisplayFor(modelItem => service.Name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => service.Address)
            </td>
            <td>
                @Html.DisplayFor(modelItem => service.Typ_Service)
            </td>
            <td>
                @Html.DisplayFor(modelItem => service.Typ_Event)
            </td>
            <td>
                @Html.DisplayFor(modelItem => service.Capacity)
            </td>
            <td>
                @Html.DisplayFor(modelItem => service.FixCost)
            </td>
            <td>
                @Html.DisplayFor(modelItem => service.HourCost)
            </td>
            <td>
                @Html.DisplayFor(modelItem => service.PersonCost)
            </td>
            <td>
                @Html.DisplayFor(modelItem => service.City)
            </td>
            <td>
                @Html.DisplayFor(modelItem => service.More)
            </td>

            <td>
                @Html.ActionLink("Details", "Details", "EventServices", new { id = service.Id, selectedEventId = ViewBag.SelectedEventId }, null) |
                @Html.ActionLink("Delete", "Delete", "EventServices", new { id = service.Id, selectedEventId = ViewBag.SelectedEventId }, null)
            </td>
        </tr>
    }

</table>

<div class="text-center">
    @Html.ActionLink("Add more services for your event", "ListServices", "EventServices", new { selectedEventId = ViewBag.SelectedEventId }, new { @class = "btn btn-primary" })
</div>


