@model IEnumerable<EventUpWebApp.Models.ServiceViewModel>

@{
    ViewBag.Title = "Reserved Services";
}

<style>
    .total-value-container {
        border: 2px solid purple;
        padding: 10px;
        float: right;
    }
</style>

<br />
<div style="overflow: hidden;">
    <div style="float: left;">
        <h2>Reserved Services for Event: @ViewBag.SelectedEventName</h2>
    </div>

    <!-- Contenedor para el valor total del evento -->
    <div class="total-value-container">
        <strong>Total Event Value [Euro]:</strong>
        <span id="totalEventValue">@ViewBag.TotalEventValue</span>
    </div>
</div>

@if (Model != null && Model.Any())
{

    <p>The services you have already saved: </p>
    
   
}
else
{
    <p>No reserved services for this event.</p>
}

<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Name)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.City)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Address)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Typ_Service)
        </th>

        <th>
            @Html.DisplayNameFor(model => model.Capacity)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.FixCost)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.HourCost)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.PersonCost)
        </th>



        <th></th>
    </tr>

    @foreach (var service in Model)
    {

        <tr>
            <td>
                @Html.DisplayFor(modelItem => service.Name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => service.City)
            </td>
            <td>
                @Html.DisplayFor(modelItem => service.Address)
            </td>
            <td>
                @Html.DisplayFor(modelItem => service.Typ_Service)
            </td>

            <td>
                @Html.DisplayFor(modelItem => service.Capacity)
            </td>
            <td>
                @Html.DisplayFor(modelItem => service.FixCost)
            </td>
            <td>
                @Html.DisplayFor(modelItem => service.HourCost)
            </td>
            <td>
                @Html.DisplayFor(modelItem => service.PersonCost)
            </td>



            <td>
                @Html.ActionLink("Details", "Details", "EventServices", new { id = service.Id, selectedEventId = ViewBag.SelectedEventId }, null) |
                @Html.ActionLink("Delete", "Delete", "EventServices", new { id = service.Id, selectedEventId = ViewBag.SelectedEventId }, null)
            </td>
        </tr>
    }

</table>

<div class="text-center">
    @Html.ActionLink("Add more services for your event", "ListServices", "EventServices", new { selectedEventId = ViewBag.SelectedEventId, cityFilter = ViewBag.SelectedEventCity }, new { @class = "btn btn-primary" })
</div>

<div>
    @Html.ActionLink("Back to My Events", "MyEvents", "Events")
</div>



