@model IEnumerable<EventUpLib.Event>

@{
    ViewBag.Title = "ServiceIsBookedFor";
}

<style>
    .total-value-container {
        border: 2px solid purple;
        padding: 10px;
        float: right;
    }
</style>

<br />
<div style="overflow: hidden;">
    <div style="float: left;">
        <h2>Events already booked your service</h2>
    </div>

    <!-- Contenedor para el valor total del evento -->
    <div class="total-value-container">
        <strong>Total Service Value [Euro]:</strong>
        <span id="totalEventValue">@ViewBag.TotalServiceValue</span>
    </div>
</div>


<!-- Muestra todos los eventos en los que se ha reservado el servicio -->

@if (Model != null && Model.Any())
{

    <p>Service @ViewBag.SelectedServiceName has been booked for:</p>

}
else
{
    <p>No event has booked the service</p>
}

<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Name)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Address)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.City)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Start_DateTime)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.End_DateTime)
        </th>
        <th>
            Status
        </th>
        <th></th>
    </tr>

    @foreach (var @event in Model)
    {

        <tr>
            <td>
                @Html.DisplayFor(modelItem => @event.Name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => @event.Address)
            </td>
            <td>
                @Html.DisplayFor(modelItem => @event.City)
            </td>

            <td>
                @Html.DisplayFor(modelItem => @event.Start_DateTime)
            </td>
            <td>
                @Html.DisplayFor(modelItem => @event.End_DateTime)
            </td>



            <td>
                @Html.ActionLink("Details Event", "DetailsEvent", "EventServices", new { id = @event.Id, selectedEventId = ViewBag.SelectedEventId }, null)

            </td>
        </tr>
    }

</table>

<div>
    @Html.ActionLink("Back to My Services", "MyServices", "Services")
</div>


