@using System.Web.Mvc.Html
@model IEnumerable<EventUpLib.Event>

<link rel="stylesheet" href="~/Content/Site.css" />
<h2>My Events</h2>


<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Name)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.City)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Start_DateTime)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.End_DateTime)
        </th>

        <th></th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.City)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Start_DateTime)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.End_DateTime)
            </td>

            <td>
                @Html.ActionLink("Edit", "Edit", new { id = item.Id }) |
                @Html.ActionLink("Details", "Details", new { id = item.Id }) |
                @Html.ActionLink("Delete", "Delete", new { id = item.Id })
            </td>
            <td>
                @Html.ActionLink("See reserved services", "ReservedServices", "EventServices", new { id = item.Id, selectedEventId = ViewBag.SelectedEventId }, new { @class = "btn btn-primary" })
            </td>
        </tr>
    }

</table>

<br />

<div class="text-center">
    @Html.ActionLink("Create New", "Create", null, new { @class = "btn btn-primary" })
</div>