@model EventUpLib.Service

@{
    ViewBag.Title = "Details";
}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width" />
    <title>Details service</title>
    <link rel="stylesheet" href="~/Content/font-awesome.css" />
    <link rel="stylesheet" href="~/Content/DetailsAndDelete.css" />
</head>

<body>
    <header>
        <h2>Service details</h2>
        @Html.HiddenFor(model => model.isOfferedById)
        <hr />
    </header>

    <section>

        <div class="details-container">
            <div class="details-column">
                <div class="details-item">
                    <div class="details-label">Service name:</div>
                    <div class="details-value">@Html.DisplayFor(model => model.Name)</div>
                </div>


                <div class="details-item">
                    <div class="details-label">City:</div>
                    <div class="details-value">@Html.DisplayFor(model => model.City)</div>
                </div>

                <div class="details-item">
                    <div class="details-label">Address:</div>
                    <div class="details-value">
                        @if (string.IsNullOrWhiteSpace(Model.Address))
                        {
                            @Html.Raw("----------")
                        }
                        else
                        {
                            @Html.DisplayFor(model => model.Address)
                        }
                    </div>
                </div>

                <div class="details-item">
                    <div class="details-label">Service Type:</div>
                    <div class="details-value">@Html.DisplayFor(model => model.Typ_Service)</div>
                </div>


            </div>

            <div class="details-column">
                <div class="details-item">
                    <div class="details-label">Capacity:</div>
                    <div class="details-value">
                        @if (Model.Capacity == null || Model.Capacity == 0)
                        {
                            @Html.Raw("----------")
                        }
                        else
                        {
                            @Html.DisplayFor(model => model.Capacity)
                        }
                    </div>
                </div>

                <div class="details-item">
                    <div class="details-label">Fix cost [Euro]:</div>
                    <div class="details-value">
                        @if (Model.FixCost == null || Model.FixCost == 0)
                        {
                            @Html.Raw("----------")
                        }
                        else
                        {
                            @Html.DisplayFor(model => model.FixCost)
                        }
                    </div>
                </div>

                <div class="details-item">
                    <div class="details-label">Hour cost [Euro/hour]:</div>
                    <div class="details-value">
                        @if (Model.HourCost == null || Model.HourCost == 0)
                        {
                            @Html.Raw("----------")
                        }
                        else
                        {
                            @Html.DisplayFor(model => model.HourCost)
                        }
                    </div>

                </div>

                <div class="details-item">
                    <div class="details-label">Person cost [Euro/person]:</div>
                    <div class="details-value">
                        @if (Model.PersonCost == null || Model.PersonCost == 0)
                        {
                            @Html.Raw("----------")
                        }
                        else
                        {
                            @Html.DisplayFor(model => model.PersonCost)
                        }
                    </div>
                </div>

                <div class="details-item">
                    <div class="details-label">More Information:</div>
                    <div class="details-value">
                        @if (string.IsNullOrWhiteSpace(Model.More))
                        {
                            @Html.Raw("----------")
                        }
                        else
                        {
                            @Html.DisplayFor(model => model.More)
                        }
                    </div>
                </div>

            </div>

        </div>
    </section>

    <section>
        <div class="form-actions no-color">
            <a href="@Url.Action("MyServices")">
                <i class="fa fa-arrow-left"></i> Back to list
            </a>
        </div>
    </section>
</body>
</html>


