@model EventUpLib.Service

@{
    ViewBag.Title = "Details";
}
<link rel="stylesheet" href="~/Content/font-awesome.css" />
<h2>Details</h2>
@Html.HiddenFor(model => model.isOfferedById)

<style>
    .about-supplier {
        border: 2px solid purple;
        border-radius: 15px;
        padding: 15px;
        box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);
        margin-top: 20px; 
    }

    .details-container {
        display: flex;
        flex-wrap: wrap;
    }

    .details-column {
        flex: 1;
        margin-right: 20px;
    }

        .details-column h3 {
            color: #632033; 
        }

    .details-label {
        font-weight: bold;
        margin-bottom: 5px;
    }

    .details-item {
        display: flex;
        align-items: stretch;
        margin-bottom: 10px;
    }

    .details-value {
        margin-left: 10px;
    }
</style>

<br />

<div class="details-container">
    <div class="details-column">
        <div class="details-item">
            <div class="details-label">Service name:</div>
            <div class="details-value">@Html.DisplayFor(model => model.Name)</div>
        </div>


        <div class="details-item">
            <div class="details-label">City:</div>
            <div class="details-value">@Html.DisplayFor(model => model.City)</div>
        </div>

        <div class="details-item">
            <div class="details-label">Address:</div>
            <div class="details-value">
                @if (string.IsNullOrWhiteSpace(Model.Address))
                {
                    @Html.Raw("----------")
                }
                else
                {
                    @Html.DisplayFor(model => model.Address)
                }
            </div>
        </div>

        <div class="details-item">
            <div class="details-label">Service Type:</div>
            <div class="details-value">@Html.DisplayFor(model => model.Typ_Service)</div>
        </div>

       
    </div>

    <div class="details-column">
        <div class="details-item">
            <div class="details-label">Capacity:</div>
            <div class="details-value">
                @if (Model.Capacity == null || Model.Capacity == 0)
                {
                    @Html.Raw("----------")
                }
                else
                {
                    @Html.DisplayFor(model => model.Capacity)
                }
            </div>
        </div>

        <div class="details-item">
            <div class="details-label">Fix cost [Euro]:</div>
            <div class="details-value">
                @if (Model.FixCost == null || Model.FixCost == 0)
                {
                    @Html.Raw("----------")
                }
                else
                {
                    @Html.DisplayFor(model => model.FixCost)
                }
            </div>
        </div>

        <div class="details-item">
            <div class="details-label">Hour cost [Euro/hour]:</div>
            <div class="details-value">
                @if (Model.HourCost == null || Model.HourCost == 0)
                {
                    @Html.Raw("----------")
                }
                else
                {
                    @Html.DisplayFor(model => model.HourCost)
                }
            </div>

        </div>

        <div class="details-item">
            <div class="details-label">Person cost [Euro/person]:</div>
            <div class="details-value">
                @if (Model.PersonCost == null || Model.PersonCost == 0)
                {
                    @Html.Raw("----------")
                }
                else
                {
                    @Html.DisplayFor(model => model.PersonCost)
                }
            </div>
        </div>

        <div class="details-item">
            <div class="details-label">More Information:</div>
            <div class="details-value">
                @if (string.IsNullOrWhiteSpace(Model.More))
                {
                    @Html.Raw("----------")
                }
                else
                {
                    @Html.DisplayFor(model => model.More)
                }
            </div>
        </div>
    </div>

</div>

@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()


    <div class="form-actions no-color">
        <a href="@Url.Action("MyServices")">
            <i class="fa fa-arrow-left"></i> Back to list
        </a>
    </div>
}

