@using Microsoft.AspNet.Identity

@{
    var selectedRole = Request.QueryString["selectedRole"];
}


@if (Request.IsAuthenticated)
{
    using (Html.BeginForm("LogOff", "Account", FormMethod.Post, new { id = "logoutForm", @class = "navbar-right" }))
    {
        @Html.AntiForgeryToken()

        <ul class="nav navbar-nav navbar-right">
            <li>
                @Html.ActionLink("Hello " + User.Identity.GetUserName() + "!", "Index", "Manage", routeValues: null, htmlAttributes: new { title = "Manage" })
            </li>
            <li><a href="javascript:document.getElementById('logoutForm').submit()"> Log off</a></li>
            @if (selectedRole == "Planner")
            {
                <ul class="navbar-nav flex-grow-1 justify-content-center">
                    <li>@Html.ActionLink("My Events", "Index", "Event", new { area = "" }, new { @class = "nav-link" })</li>
                </ul>
            }
            @if (selectedRole == "Supplier")
            {
                <ul class="navbar-nav flex-grow-1 justify-content-center">
                    <li>@Html.ActionLink("My Services", "Index", "Event", new { area = "" }, new { @class = "nav-link" })</li>
                </ul>
            }
            @if (selectedRole == "Admin")

            {
                <ul class="navbar-nav flex-grow-1 justify-content-center">
                    <li>@Html.ActionLink("Admin", "Index", "Event", new { area = "" }, new { @class = "nav-link" })</li>
                </ul>
            }

        </ul>
    }
}
else
{
    <ul class="nav navbar-nav navbar-right">
        <li class="nav-item">
            <a class="nav-link" href="@Url.Action("Register", "Account")">
                <i class="fa fa-user-plus" style="color: #ffffff;"></i> Register
            </a>
        </li>
        
        <li class="nav-item">
            <a class="nav-link" href="@Url.Action("SignIn", "Account")">
                <i class="fa fa-user" style="color: #ffffff;"></i> Sign In
            </a>
        </li>

    </ul>
}
