@using Microsoft.AspNet.Identity
@if (Request.IsAuthenticated)
{
    using (Html.BeginForm("LogOff", "Account", FormMethod.Post, new { id = "logoutForm", @class = "navbar-right" }))
    {
        @Html.AntiForgeryToken()

        <ul class="nav navbar-nav navbar-right">
            <li>
                @Html.ActionLink("Hello " + User.Identity.GetUserName() + "!", "Index", "Manage", routeValues: null, htmlAttributes: new { title = "Manage" })
            </li>
            <li><a href="javascript:document.getElementById('logoutForm').submit()"> Log off</a></li>
        </ul>
    }
}
else
{
<ul class="nav navbar-nav navbar-right">
    <li class="nav-item">
        <a class="nav-link" href="@Url.Action("Email_Password", "User")">
            <i class="fa fa-user-plus" style="color: #ffffff;"></i> Register
        </a>
    </li>
    <!-- <li>@Html.ActionLink("Register", "Email_Password", "User", routeValues: null, htmlAttributes: new { id = "registerLink" })</li>    -->
    <li class="nav-item">
        <a class="nav-link" href="@Url.Action("SignIn", "Account")">
            <i class="fa fa-user" style="color: #ffffff;"></i> Sign In
        </a>
    </li>

</ul>
}